#
#   ▓▓▓▓Dev by Mari05liM▓▓▓▓
#

# Força o uso de HTTPS
Header always set Content-Security-Policy: upgrade-insecure-requests

# Páginas de erro 404 e 500
# ErrorDocument 404 /404.html
# ErrorDocument 500 /500.html

# Timezone
SetEnv TZ America/Sao_Paulo

# Habilita o mod_rewrite
RewriteEngine On

# Define a pasta raiz do site
# RewriteBase /

# Redireciona URLs específicas para determinadas páginas
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# RewriteRule ^api/([a-zA-Z0-9]+)?$ api/index.php?id=$1 [L]

# Remove a extensão .php das URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# Redireciona URLs de download para pastas específicas
# RewriteCond %{REQUEST_URI} !^arquivos/recibos
# RewriteRule ^downloadrecibo/(.*)$ arquivos/recibos/$1 [L]
